In [1]:
import pandas as pd

In [2]:
dta_set=pd.read_csv("../data/WDICountry.csv")

In [5]:
dta_set.head(1)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2010,NaN,NaN,Yes,NaN,NaN,2016.0,NaN

In [1]:
dta_set.dtypes

NameError: name 'dta_set' is not defined

In [2]:
# Load pandas and sqlalchemy's create_engine
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Create database engine to manage connections
engine = create_engine("sqlite:///data.db")